/*Images*/

img {
    width: 48px;
    height: 48px;
}

/*Extra*/

h2 {
    font-family: Roboto;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: Roboto;
    color: rgb(160, 157, 157);

}

button {
    background-color: #34D399;
    width: 220px;
    height: 38px;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: Roboto;
    margin-block: 30px;
}

p.Gap_2 {
    margin-top: -5px;
}

p.Gap_1 {
    margin-bottom:  5px;
}

/*Div.Top*/

div.Top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
}

div.Project {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    max-width: 244px;
    max-height: 450px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    overflow: hidden;
    border-top: none;
    border-right: none;
    border-left: none;
    border-style: none;
}

/*Div.Bottom*/

div.Bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

div.Project_bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    max-width: 244px;
    max-height: 410px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    overflow: hidden;
    border-top: none;
    border-right: none;
    border-left: none;
    border-style: none;
}

/*Font Face*/
@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf)
}
